---
layout: archive
title: "Services"
permalink: /services/
author_profile: true
---

Areas of expertise

Data for decision-making
Data for storytelling
Qualitative data analysis
Language equity and multilingual contexts

Primary services:
Mapping your data landscape
Strategic planning for data
Survey design
Increasing engagement and access for non-native English speakers
Data coaching for current staff
Ensuring clear communication with data vendors and contractors

Pricing by project, hourly, or retainer. Services available remotely or within one hour drive of Georgetown, TX. Contact me for a free initial consultation to see if my services are a fit for your needs. 

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
